$color-grey-primary: #f1f2f6;
$color-white-primary: #fff;
$color-white-secondary: rgb(252, 252, 252);
$color-white-primary-dark: rgb(247, 244, 244);
$color-dark-blue: #1a9fcd;
$color-dark-blue-1: #317f99;
$color-dark-blue-2: #5b7f8b;
$color-light-blue: #1cabdc;

$color-black-dark: #4b4b4b;
$color-grey-dark: #636e72;
$color-grey-light: #e4e6e7;
$color-pink: rgb(255, 99, 118);
$color-pink-light: rgb(228, 117, 130);
$color-orange: #f3b408;
$color-orange-light: #dba91d;

$color-green-dark: #27ae60;
$color-black: #000;
$color-black-light: #0c0e11;

$color-danger: #eb2f06;
