@import '../sass/variables/colors';
@import '../sass/mixins/mixins';

.header-bottom {
  background-color: $color-dark-blue;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
