@import '../../../../shared/sass/variables/colors';

.signout {
  input {
    background-color: $color-pink;
    color: $color-white-primary;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      color: $color-grey-primary;
      background-color: $color-pink-light;
    }
  }
}
