@import '../../../shared/sass/variables/colors';
.reviews {
  &__collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  &__bio {
    display: flex;

    .profile {
      margin-right: 2rem;

      img {
        width: 5rem;
        height: 8rem;
      }
    }

    .rating {
      h2 {
        color: $color-black-dark;
        font-size: 2rem;
        margin-bottom: 0;
      }

      h3 {
        color: $color-grey-dark;
        font-size: 1.5rem;
        margin-top: 1rem;
      }

      span {
        i {
          color: $color-orange;
          font-size: 2rem;
        }
      }
    }
  }

  &__message {
    background-color: $color-grey-light;
    color: $color-black-dark;
    margin: 2rem;
    padding: 2rem;

    p {
      letter-spacing: 0.1rem;
      font-size: 2rem;
    }
  }
}
